body {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

#content {
    margin: 100px;
}

.title {
    color: blue;
}

.info {
    margin-botton: 25px;
}

.fun-thigns {
    margin-bottom: 25px;
}
